
.bio{
	width: 30%;
	padding: 5%;
	margin-left: 0%;
	margin-top: 0%;
	
	text-align: left;
	height: 100%; 	
	
  	background:rgba(0,0,0,0.6);
  	float: left;
  
}

h1{
	margin-top:4%;
}

@media all and (max-width: 1000px) {
.bio{
	width: 50%;
	padding:5%;
	text-align: left;

	}
}

.fa-inside{
	color: black;
}

.fa{
	font-size: 2em;
}

.icons{
	margin-bottom: 2%;
}



@media all and (max-width: 500px) {
.bio{
	width: 100%;
}
h1{
	margin:1%;
}
p{
	margin-right: 10%;
}


}


h1{
	font-family: 'Varela Round', sans-serif;
	font-weight: 800;
	font-size: 60px;
}


body, a{
	
	color: white;
	
	font-family: 'Varela', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-decoration: none;

}

strong{
	font-weight: 800;
	font-size: 22px;
}

html{
	height:100%;
	margin:0%;
}

body{
	height: 100%;
	margin: 0;
  	background: url("assets/sample.jpg") no-repeat center center  fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}

}

