
/* Side bar with icons and bio */
.bio_bar{
	width: 40%;
	padding-left: 5%;
	float: left;
	 
}

.icon img{
	max-width: 25%;
	vertical-align: middle;
	margin-right: 2%

}

.icon{
	display: inline-block;
	width: 45%;
	height: 15%;
	margin-bottom: 5%;	
}



@media all and (max-width: 800px) {
.bio_bar{
	width: 70%;
	padding: 3.5%;
	margin: 0%;
	height: 100%;
	

}
.icon img{
	max-width: 25%;
	vertical-align: middle;
	margin-right: 2%;
	max-height: 50px;

}
.icon{
	display: inline-block;
	width: 50%;
	height: 10%;
	margin-bottom: 5%;
	vertical-align: top;

}
html, body {
	margin:0%;

}


}


body, html{
	margin:0%;
}


h1{
	font-family: 'Varela Round', sans-serif;
	font-weight: 800;
	font-size: 60px;
}


body, a{
	
	color: black;
	font-family: 'Varela', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-decoration: none;

}

strong{
	font-weight: 800;
	font-size: 22px;
}

.bio_link a{
	color: #336699;
}

